/* || Fonts */

/* Source sans 3
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 900

.source-sans-3-<uniquifier> {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/* Recursive
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 1000

.recursive-<uniquifier> {
  font-family: "Recursive", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CASL" 0,
    "CRSV" 0.5,
    "MONO" 0;
} */

/* Poppins
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}
 */

/* || Variavbles */
:root {
  --main-heading-color: rgb(255, 117, 117);
  --main-bg-color: rgb(35, 40, 48);
  --main-container-width: 123.6rem;
}

/* || General Styles */
html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
  *::before,
    *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
  color: rgb(255, 255, 255);
}

a {
  color: rgb(255, 255, 255)
}

nav a, footer a { 
  text-decoration: none;
}

article {
  background-color: rgb(255, 255, 255);
}

.pagination li {
  border-top: 3px solid rgba(0, 0, 0, 0);
}

.pagination a.active {
  color: rgb(255, 117, 117);
}

.pagination li:has(a.active) {
  border-top: 3px solid rgb(255, 117, 117);
}

.pagination {
  margin-top: 11rem;
}

.twitter {
  background-color: rgb(70, 153, 224);
  border-radius: 5px;
  padding: 1rem 2rem;
}

footer .container > .twitter {
  padding-left: calc(2rem + 2rem + 1rem);
  background-image: url("assets/twitter-logo.svg");
  background-repeat: no-repeat;
  background-position: 2rem center;
  background-size: 2rem 1.6rem;
}

/* || Typography */
body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6rem;
  color: rgb(255, 255, 255);
}

.logo {
  font-size: 3rem;
}

header li {
  font-size: 2.4rem;
}

h1 {
  font-family: "Recursive", "Poppins", Arial, Helvetica, sans-serif;
  color: var(--main-heading-color);
  font-size: 7.1rem;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  margin: 0 auto 1rem;
}

h1 + p {
  font-size: 2.9rem;
  text-align: center;
  margin-bottom: 3em;
}

main nav a {
  font-family: "Recursive", "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 2.7rem;
  color: rgb(144, 144, 144);
}

article {
  color: rgb(0, 0, 0);
}

h3 {
  font-weight: 600;
  font-size: 1.9rem;
}

.pagination a {
  font-size: 2.5rem;
}

footer {
  font-family: "Source Sans", "Poppins", Arial, Helvetica, sans-serif;
  font-size: 1.9rem;
}

/* || Layout */
/* || Header and Main Navigation */
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

header {
  margin-top: 2rem;
  position: sticky;
  z-index: 1;
  top: 0;
  background-color: var(--main-bg-color);
}

header a {
  padding: 1rem;
  display: block;
}

.logo a{
  padding-left: 0;
}

header nav {
  max-width: var(--main-container-width);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

header ul {
  display: flex;
  align-items: center;
}

header ul li:last-of-type a {
  padding-right: 0;
}

/* || Main Content Styles */

/* Main Heading Styles */
main > :first-child {
  display: block;
  margin: 8rem auto 3rem;
}

main nav {
  position: sticky;
  background-color: var(--main-bg-color);
  top: 6.4rem;
  margin-bottom: 5em;
}

main nav ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

main nav a {
  padding: 1rem;
  display: block;
}

.main-nav{
  border-top: 3px solid rgb(77, 77, 77);
}

.main-nav li:nth-of-type(2) {
  margin-right: 2rem;
}

/* Grid Layout styles */

.content {
  display: grid;
  max-width: 124.4rem;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
  grid-column-gap: 3rem;
  column-gap: 3rem;
}

article {
  padding: 2.8rem;
  border-radius: 3rem;
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  margin-bottom: 3rem;
}

article > * {
  margin: 0;
}

article img {
  display: block;
  margin: auto;
  max-width: 100%;
}

.flex-container {
  display: flex;
  gap: 1em;
 }

 /* Footer styles */
 footer {
  border-top: 3px solid rgb(77, 77, 77);
  padding-top: 4rem;
  min-height: 20rem;
 }

 footer .container {
  max-width: var(--main-container-width);
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  margin: auto;
 }

 footer .credits {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 3rem;
 }

 @media screen and (max-width: 81em) {
  body {
    padding: 0 1em ;
  }
 }

 @media  screen and (max-width: 72em) {
  main nav {
    display: block;
    position: static;
  }

  .main-nav ul {
    display: block;
  }
 }

 @media screen and (max-width: 36em) {
  header nav, header ul {
    display: block;
  }

  header {
    position: static;
  }

  /* || Typography */

  h1 {
    font-size: 4rem;
  }

  h1 + p, footer .logo {
    font-size: 2rem;
  }

  .pagination a, footer, .main-nav a{
    font-size: 1.5rem;
  }

  .pagination img {
    height: 1em;
    width: 1em;
  }

  .content {
    grid-template-columns: 1fr;
  }
 }